<div>
  <h2 class="prefixed ls page-title">Posts</h2>
</div>
<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<%- partial('_partial/pagination') %>
