
@media print
  .hide-print
    display none
    visibility hidden

  .post-content
    text-align justify

  .post-meta
    font-size .8em
    color #999

  #footer
    border-top 1px solid #aaa
    margin-top 3em
    font-size .9em
    color #777
